<main class="text-light">
    
<title>BoomCode | Ekip</title>
    <br>
    <div class="container">
        <h1 style="margin-right: 30px;text-align:center;font-size: 2.2em;text-decoration: none; font-weight: bold; color: white;">
            Yetkililer</h1>
        <hr style="background-color: white;height: 2px; ">
        <div class="row" style="margin-left: 20px;">
            <div class="col">

            
                <div class="profile" style="background: linear-gradient(-35deg, rgba(114, 137, 218, 0.5) 20%, rgb(114, 137, 218, 0.5) 130%); box-shadow: transparent 0px 2px 52px 0px;">
                    <div class="profile-details">
                        <h1 title="Lord Creative">MuhammedinKs</h1>
                        <h2>Kurucu</h2>
                    </div>
                    <div class="profile-avatar"><img src="https://cdn.discordapp.com/avatars/1051944844886560861/c8873bcced29111c5050222d0298adfd.webp?size=128">
                    </div>
                </div>
              
                <div class="profile" style="background: linear-gradient(-35deg, rgba(114, 137, 218, 0.5) 20%, rgb(114, 137, 218, 0.5) 130%); box-shadow: transparent 0px 2px 52px 0px;">
                    <div class="profile-details">
                        <h1 title="Asreaper">SorryForYou</h1>
                        <h2>Kurucu</h2>
                    </div>
                    <div class="profile-avatar"><img src="https://cdn.discordapp.com/avatars/507255531883331594/3d921b4abd9c92ebd316c456baa3a147.webp?size=128">
                    </div>
                </div>
              
                <div class="profile" style="background: linear-gradient(-35deg, rgba(114, 137, 218, 0.5) 20%, rgb(114, 137, 218, 0.5) 130%); box-shadow: transparent 0px 2px 52px 0px;">
                    <div class="profile-details">
                        <h1 title="Dizzy">MustoCiks</h1>
                        <h2>Kurucu</h2>
                    </div>
                    <div class="profile-avatar"><img src="https://cdn.discordapp.com/avatars/1051530710235742258/6c5996770c985bcd6e5b68131ff2ba04.webp?size=128">
                    </div>
                </div>

                <div class="profile" style="background: linear-gradient(-35deg, rgba(114, 137, 218, 0.5) 20%, rgb(114, 137, 218, 0.5) 130%); box-shadow: transparent 0px 2px 52px 0px;">
                    <div class="profile-details">
                        <h1 title="Gweep">Onurciks</h1>
                        <h2>Kurucu</h2>
                    </div>
                    <div class="profile-avatar"><img src="https://cdn.discordapp.com/avatars/820256135168000040/a_9a3ec0663128bd82277d08375520734e.gif?size=128">
                    </div>
                </div>
 

                <div class="profile" style="background: linear-gradient(-35deg, rgba(221, 28, 28) 20%, rgb(221, 28, 28) 130%); box-shadow: transparent 0px 2px 52px 0px;">
                    <div class="profile-details">
                        <h1 title="Gweep">BOŞ</h1>
                        <h2>Admin</h2>
                    </div>
                    <div class="profile-avatar"><img src="2">
                    </div>
                </div>

  <div class="profile" style="background: linear-gradient(-35deg, rgba(52, 102, 179) 20%, rgb(52, 102, 179) 130%); box-shadow: transparent 0px 2px 52px 0px;">
                    <div class="profile-details">
                        <h1 title="Gweep">BOŞ</h1>
                        <h2>Moderatör</h2>
                    </div>
                    <div class="profile-avatar"><img src="2">
                    </div>
                </div>


              <div class="profile" style="background: linear-gradient(-35deg, rgba(219, 170, 58) 20%, rgb(219, 170, 58) 130%); box-shadow: transparent 0px 2px 52px 0px;">
                      <div class="profile-details">
                        <h1 title="Admin">BerkCiks</h1>
                        <h2>D.Moderatör</h2>
                    </div>
                    <div class="profile-avatar"><img src="https://cdn.discordapp.com/avatars/1081251147618205778/314a4ec24b049a87cb3d7b2ed6cbef98.webp?size=80">
                    </div>

                  
</div>
                <div class="profile" style="background: linear-gradient(-35deg, rgba(219, 170, 58) 20%, rgb(219, 170, 58) 130%); box-shadow: transparent 0px 2px 52px 0px;">
                    <div class="profile-details">
                        <h1 title="Admin">Exeal</h1>
                        <h2>D.Moderatör</h2>
                    </div>
                    <div class="profile-avatar"><img src="https://cdn.discordapp.com/avatars/842122534920912957/a_f6b9f967accc0cef69997d792396168e.webp?size=128">
                    </div>
                  
</div>
                <div class="profile" style="background: linear-gradient(-35deg, rgba(219, 170, 58) 20%, rgb(219, 170, 58) 130%); box-shadow: transparent 0px 2px 52px 0px;">
                    <div class="profile-details">
                        <h1 title="Admin">DenizReyiz59</h1>
                        <h2>D.Moderatör</h2>
                    </div>
                    <div class="profile-avatar"><img src="https://cdn.discordapp.com/avatars/747210627449094258/d558b09aaf5dd488d8772788290f1941.webp?size=80">
                    </div>


                  
</div>
                <div class="profile" style="background: linear-gradient(-35deg, rgba(219, 170, 58) 20%, rgb(219, 170, 58) 130%); box-shadow: transparent 0px 2px 52px 0px;">
                    <div class="profile-details">
                        <h1 title="Admin">slhegekyrn</h1>
                        <h2>D.Moderatör</h2>
                    </div>
                    <div class="profile-avatar"><img src="https://cdn.discordapp.com/avatars/797056170610655284/c04804b665c780d1a4f3985f1a1e75c2.webp?size=80">
                    </div>


                  
</div>
                <div class="profile" style="background: linear-gradient(-35deg, rgba(219, 170, 58) 20%, rgb(219, 170, 58) 130%); box-shadow: transparent 0px 2px 52px 0px;">
                    <div class="profile-details">
                        <h1 title="Admin">mehmetdemirell</h1>
                        <h2>D.Moderatör</h2>
                    </div>
                    <div class="profile-avatar"><img src="https://cdn.discordapp.com/attachments/1092058787713667202/1092059067515682846/IMG_2281.png">
                    </div>




                </div>
            </div>
        </div>
    </div>
    <br>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
    <div class="container">
        <h1 style="margin-right: 30px;text-align:center;font-size: 2.2em;text-decoration: none; font-weight: bold; color: white;">
            Destekçiler</h1>
        <hr style="background-color: white;height: 2px; ">
        <div class="row" style="margin-left: 3px;">
            <div class="col">

                <div class="profile" style="background: linear-gradient(-35deg, rgba(179,47,224) 20%, rgb(179,47,224) 130%); box-shadow: transparent 0px 2px 52px 0px;">
                    <div class="profile-details">
                        <h1 title="Admin">Raskoln</h1>
                        <h2>Sponsor</h2>
                    </div>
                    <div class="profile-avatar"><img src="https://cdn.discordapp.com/avatars/817057377895448598/6a430b1b83c0b9c5716c2fad5bfd7aac.webp?size=80">
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>