
<title>BoomCode | Ana Sayfa</title>
<br><br>

<main class="text-center text-light" style="display: flex;min-height: calc(100vh - 188px);align-items: center; justify-content: center">
        <div>
          		<img class="sunucusresmi" height="200" width="200" src="https://cdn.discordapp.com/attachments/1051948414188929025/1089574031340089444/Resmi_Bildiri.png">
                <h1 style="font-weight: bold; color: #7289d8;">BoomCode</h1>
                <h4>Türkiye'nin En Kaliteli ve Ücretsiz Ürün/Oyun Paylaşım Sitesi </h4>
                <br>
                <a type="button" href="" target="_blank" class="btn btn-light"><i style="color:black" class="fab fa-youtube"></i><b> YouTube</b></a>
                <a type="button" href="/davet" target="_blank" class="btn btn-light"><i style="color:black" class="fab fa-discord"></i><b> Discord</b></a>
                <a type="button" href="/" target="_blank" class="btn btn-light"><i style="color:black" class="fas fa-envelope"></i> <b>İletişim</b></a>
                <a type="button" href="/sss" class="btn btn-light"><i class="fas fa-info-circle"></i> <b>Bilgi</b></a>
        </div>
  <div class="wave wave1"></div>
</main>

