<title>BoomCode | Bilgilendirme</title>
<br><br>
<main>
  <div class="container" style="padding: 1rem;">
    <div class="col-12 col-md-12 d-flex flex-column align-items-center justify-content-center text-center">
      <div>
          		<img class="sunucusresmi" height="200" width="200" src="https://cdn.discordapp.com/attachments/1051948414188929025/1089574031340089444/Resmi_Bildiri.png">
      </div>
      <h1>Bilgilendirme</h1>
      <br>
      <h5>
        <span class="red">Not:</span> Ürünleri görebilmek için sunucumuzda olmanız gerekmektedir!
        <br><br>
        <span style="color: #F1C531;">@Altın Ürünler</span>: Bot tarafından 5 invite yaptığınızda otomatik olarak verilir Yada 5 TL.
        <br>
        <span style="color: #3998DB;">@Elmas Ürünler</span>: Bot tarafından 10 invite yaptığınızda otomatik olarak verilir Yada 10TL.
        <br>
        <span style="color: #07c664;">@Ücretsiz</span>: Bot üzerinden komut ile alınır. #role-select kanalından emojiye basarak alabilirsiniz.
    </div>
  
 
    <hr>
    </p>
  </div>
</main>